// Rounded orange button
.btn {
    background: $orange;
    border: none;
    border-radius: 9999rem;
    color: black;
    cursor: pointer;
    font-family: 'Skranji', cursive;
    font-weight: 400;
    font-size: 2rem;
    margin: 0 auto;
    padding: .75rem 4rem;
    text-transform: uppercase;
    transition: color .3s ease-in-out;

    &:hover {
        color: rgb(255, 253, 253);
    }

    span {
        font-weight: 700;
    }

}

// Rounded orange button
.btn-tablet {
    background: $orange;
    border: none;
    border-radius: 9999rem;
    color: black;
    cursor: pointer;
    font-family: 'Skranji', cursive;
    font-weight: 400;
    font-size: 2rem;
    margin: 0 auto;
    padding: .75rem 4rem;
    text-transform: uppercase;
    transition: color .3s ease-in-out;

    &:hover {
        color: rgb(255, 253, 253);
    }

    span {
        font-weight: 700;
    }

}