@media screen and (max-width: 480px) {

    .content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: auto;
        grid-template-areas:
        'headline headline headline'
        'img img img'
        'middle-content middle-content middle-content'
        'profile-btns profile-btns profile-btns' 
        'profile-btns profile-btns profile-btns' 
        'profile-btns profile-btns profile-btns';

        .headline {
            grid-area: headline;
            text-align: center;
            font-size: 1rem;
            margin: 2rem 0;
        }
        .home-page-content-2 {
            grid-area: img;

            &:nth-last-child(1) {
                
            }
            &:nth-child(2) {

            }
        }
        .middle-content {
            grid-area: middle-content;

            .showcast {
                grid-area: showcast;
                margin: 1rem;
            }
            .circle {
                grid-area: circle;

            }
        }
        .profile-btns {
            grid-area: profile-btns;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: auto;
            grid-template-areas:
            'downloadbtn downloadbtn downloadbtn' 
            'editbtn editbtn editbtn' 
            'deletebtn deletebtn deletebtn';

            .download-btn {
                grid-area:  downloadbtn;
                text-align: center;
                border-radius: 0;
                padding: 1.1rem;
                font-size: 1rem;
            }
            .edit-btn {
                grid-area: editbtn;
                text-align: center;
                border-radius: 0;
                padding: 1.1rem;
                font-size: 1rem;
                     
            }
            .delete-btn {
                grid-area: deletebtn;
                text-align: center;
                border-radius: 0;
                padding: 1.1rem;
                font-size: 1rem;
    
            }
        }
    }
}