@media screen and (min-width: 481px) and (max-width: 768px) {
    .content {
        margin-top: 2rem;

        .home-page-content-2 { 
            padding: 4rem;
        }
    }
}

@media screen and (max-width: 480px) {
body {
    width: 100vw;
    height: 100vh;
    .content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: auto;
        grid-template-areas:
        'headline headline headline'
        'img img img'
        'middle-content middle-content middle-content'
        'profile-btns profile-btns profile-btns';
        
        .headline {
            grid-area: headline;
            text-align: center;
            font-size: 1rem;
            margin: 0;

        }
        .home-page-content-2 {
            grid-area: img;
            .a img {
                margin-right: -1rem;
                width: 7rem;
                height: 7rem;
            }
            .c img {
                margin-left: -1rem;
                width: 7rem;
                height: 7rem;
            }
  
          }
          .middle-content {
              grid-area: middle-content;
              margin: -1.5rem;
              
              .showcast {
                  grid-area: showcast;
                  margin: 3rem 1rem 1rem 1rem;
                }
            }
            .profile-btns {
                grid-area: profile-btns;
                font-size: 1rem;
                grid-template-columns: repeat(3, 1fr);
                text-align: center;
                position: absolute;
                bottom: 0;
                width: 100vw;
                grid-auto-rows: auto;
                grid-template-areas:
                'downloadbtn editbtn deletebtn';
                
                .download-btn {
                    grid-area:  downloadbtn;
                    border-radius: 0;
                    margin: 0;
                    padding: 0;
                    justify-content: center;
                    align-items: center;
                    display: flex;
                }
                .edit-btn {
                    grid-area: editbtn;
                    border-radius: 0; 
                    margin: 0;
                    padding: 2rem;
                }
                .delete-btn {
                    grid-area: deletebtn;
                    border-radius: 0;
                    margin: 0;
                    padding: 0;
                    justify-content: center;
                    align-items: center;
                    display: flex;
                }
            }
        }
    }
}

@media screen and (min-width: 320px) and (max-height: 568px) {
    body {
    
        .content {
            margin-top: 1rem;
    
            .home-page-content-2 {
                .a img {
                    margin-right: -2rem;
                    width: 6rem;
                    height: 6rem;
                }
                .c img {
                    margin-left: -2rem;
                    width: 6rem;
                    height: 6rem;
                }
            }
            .middle-content {
                margin: 0;
            }
        }
    }
}
