@media screen and (min-width: 481px) and (max-width: 768px) {
    .content {
        margin-top: 2rem;

        .home-page-content-2 { 
            padding: 4rem;
        }
    }
}


@media screen and (max-width: 480px) {

    .content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: auto;
        grid-template-areas:
        'headline headline headline'
        'img img img'
        'middle-content middle-content middle-content'
        'profile-btns profile-btns profile-btns' 
        'profile-btns profile-btns profile-btns' 
        'profile-btns profile-btns profile-btns';

        .headline {
            grid-area: headline;
            text-align: center;
            font-size: 1rem;
            margin: 2rem 0;
        }
        .home-page-content-2 {
            .a img {
              width: 75px;
              height: 75px;
            }
            .b img {
              width: 75px;
              height: 75px;
            }
            .c img {
            width: 75px;
            height: 75px;
            }
            @keyframes first {
              0% {left: -20px; opacity: .3; transform: scale(1);}
              33%  {left: 55px; opacity: 1;transform: scale(2);}
              66%  {left: 130px; opacity: .3;transform: scale(1);}
              100%  {left: -20px; opacity: .3;transform: scale(1);}
              }
              @keyframes secund {
              0% {left: -95px; opacity: .3; transform: scale(1);}
              33%  {left: -20px; opacity: 1;transform: scale(2);}
              66%  {left: 55px; opacity: .3;transform: scale(1);}
              100%  {left: -95px; opacity: .3;transform: scale(1);}
              }
              @keyframes third {
              0% {left: -170px; opacity: .3; transform: scale(1);}
              33%  {left: -95px; opacity: 1;transform: scale(2);}
              66%  {left: -20px; opacity: .3;transform: scale(1);}
              100%  {left: -170px; opacity: .3;transform: scale(1);}
              }
          }
        .middle-content {
            grid-area: middle-content;

            .showcast {
                grid-area: showcast;
                margin: 1rem;
            }
            .circle {
                grid-area: circle;

            }
        }
        .profile-btns {
            grid-area: profile-btns;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: auto;
            grid-template-areas:
            'downloadbtn downloadbtn downloadbtn' 
            'editbtn editbtn editbtn' 
            'deletebtn deletebtn deletebtn';

            .download-btn {
                grid-area:  downloadbtn;
                text-align: center;
                border-radius: 0;
                padding: 1.1rem;
                font-size: 1rem;
            }
            .edit-btn {
                grid-area: editbtn;
                text-align: center;
                border-radius: 0;
                padding: 1.1rem;
                font-size: 1rem;
                     
            }
            .delete-btn {
                grid-area: deletebtn;
                text-align: center;
                border-radius: 0;
                padding: 1.1rem;
                font-size: 1rem;
    
            }
        }
    }
}