.build {
  display: flex;
  justify-content: space-around;

  .build-page-content-1 {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;

    .build-page-content-1-div {
      display: flex;
      background: rgba(0, 0, 0, 0.171);
      width: 20rem;
      justify-content: end;
      padding: 0.3rem;
      margin: 2rem 0;
      border-radius: 0.5rem;

      img:hover {
        transition: 0.3s ease-in-out;
        filter: invert(100%);
      }

      .build-page-content-1-text {
        font-size: 2rem;
        padding: 0;
        margin: 0;
      }

      .build-page-content-1-gender {
        display: flex;
        font-size: 2rem;
        cursor: pointer;
        margin: 0 2rem;
        font-weight: 500;
      }

      .build-page-content-1-length-slidecontainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 0 0 2rem;

        .slider {
          -webkit-appearance: none;
          width: 100%;
          height: 1rem;
          border-radius: 1rem;
          background: #d3d3d3;
          outline: none;
          opacity: 0.7;
          -webkit-transition: 0.2s;
          transition: opacity 0.2s;

          &.slider:hover {
            opacity: 1;
          }

          &.slider::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 50%;
            background: #00aeed;
            cursor: pointer;
          }

          &.slider::-moz-range-thumb {
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 50%;
            background: #00aeed;
            cursor: pointer;
          }
        }

        p {
          margin: 0;
        }
      }

      .build-page-content-1-body {
        width: 3rem;
        height: 100%;
        cursor: pointer;
        padding: 0.1rem;
      }
    }
  }

  .build-page-content-2 {
    display: flex;
    flex-direction: column;

    .build-page-content-2-img-container {
      display: flex;
      flex-direction: column;
      margin-top: 0rem;

      .build-page-content-2-img-body-seperator {
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        .build-page-content-2-img-selector {
          font-size: 3rem;
          font-weight: 900;
          padding: 0;
          margin: 0;
          cursor: pointer;
        }

        .build-page-content-2-img {
          width: 20rem;
        }
      }
    }

    .builder-pad-btn {
      display: none;
    }
  }

  //Mobile
  .build-page-content-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    .build-page-content-mobile-gender {
      display: flex;
      width: 18rem;
      margin: 1rem 0 2rem;
      justify-content: space-around;

      .build-page-content-mobile-text {
        font-weight: 700;
        font-size: 1.3rem;
        padding: 0;
        margin: 0.4rem 0 0;
      }

      .build-page-content-mobile-symbol {
        font-size: 2rem;
        display: flex;
        padding: 0;
        margin: 0;
        text-shadow: 2px 2px 3px #000000;
      }
    }

    .build-page-content-mobile-content {
      margin: 0;
      display: flex;
      justify-content: space-between;

      .build-page-content-mobile-content-size {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0 0.2rem 0 0;

        .build-page-content-mobile-content-size-text {
          font-weight: 1.3rem;
          font-weight: 700;
          margin: 1rem 0 0.5rem;
        }

        .build-page-content-mobile-content-size-body {
          width: 3rem;
          cursor: pointer;
        }
      }

      .build-page-content-mobile-content-body {
        width: 13rem;
        padding: .5rem 0;
        background: rgba(0, 0, 0, 0.24);
        border: 1px solid black;
        border-radius: 2rem;
        margin: 0 .7rem;


        .build-page-content-mobile-content-body-img-seperator {
          display: flex;
          justify-content: center;
          border-bottom: 1px solid black;

          &.leg {
            border: none;
          }

          .build-page-content-mobile-content-body-selector {
            font-size: 2rem;
            align-self: center;
            z-index: 20;
          }

          .build-page-content-mobile-content-body-img {
            width: 13rem;
            margin: 0 -2rem;
          }
        }
      }
      .build-page-content-mobile-content-length {
        display: flex;
        flex-direction: column;

        .content-length-text {
          font-weight: 700;
          padding-right: 0;
        }

        .build-page-content-mobile-content-length-slidecontainer {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          margin: 5rem -4rem 0 -6rem;
          transform: rotate(90deg);

          .slider {
            -webkit-appearance: none;
            width: 100%;
            height: 1rem;
            border-radius: 1rem;
            background: #d3d3d3;
            outline: none;
            opacity: 0.7;
            -webkit-transition: 0.2s;
            transition: opacity 0.2s;
            transform-origin: 75px 75px;
            direction: rtl;

            &.slider:hover {
              opacity: 1;
            }

            &.slider::-webkit-slider-thumb {
              -webkit-appearance: none;
              appearance: none;
              width: 1.5rem;
              height: 1.5rem;
              border-radius: 50%;
              background: #00aeed;
              cursor: pointer;
            }

            &.slider::-moz-range-thumb {
              width: 1.5rem;
              height: 1.5rem;
              border-radius: 50%;
              background: #00aeed;
              cursor: pointer;
            }
          }

          p {
            margin: 0;
            padding: 0;
            transform: rotate(-90deg);
            text-align: right;
          }
        }
      }
    }

    .build-page-content-mobile-button {
      display: flex;
      justify-content: center;
      
      .btn {
        display: flex;
        justify-content: center;
        background: $orange;
        text-decoration: none;
        width: 100%;
        color: black;
        position: absolute;
        bottom: 0px;
        left: 0;
        border-radius: 0;
        margin: 0;
        padding: 1rem 0;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  
  .build {
    margin: 0;
    flex-direction: column;

    .build-page-content-1 .build-page-content-1-div {
      margin: 1rem;
    }


    .builder-web-btn {
      display: none !important;
    }

    .build-page-content-2 {
      margin-bottom: 1.5rem;
    }
    
    .builder-pad-btn {
      display: unset !important;
      margin: auto;

    }
  }
    

  }


@media only screen and (max-width: 830px) {

  .build {
    margin: 0;
    flex-direction: column;

    .build-page-content-1 .build-page-content-1-div {
      margin: 1rem;
    }


    .builder-web-btn {
      display: none !important;
    }

    .build-page-content-2 {
      margin-bottom: 1.5rem;
    }
    
    .builder-pad-btn {
      display: unset !important;
      margin: auto;

    }
  }
}

@media only screen and (max-height: 830px) {
  .build {
    margin-top: 2rem;
    
    .builder-web-btn {
      display: none;
    }
    
    .builder-pad-btn {
      display: unset;
    }
  }
}

@media only screen and (max-height: 760px) {
  .build {
    margin-top: 2rem;
  }
}

@media only screen and (max-height: 680px) {

  .build {
    margin-top: 0 !important;

    .btn {
      padding: 1rem !important; 
    }
  }
}

@media only screen and (max-width: 375px) {

  #app {
    width: 100vw;
  }

  // .build-page-content-mobile-content-size {
  //   padding: 0 !important;
  //   margin: 0 0 0 -1.5rem !important;

  //   .build-page-content-mobile-content-size-body {
  //     margin-left: -1rem;
  //   }
  // }
  // .build-page-content-mobile-content-body {
  //   width: 11rem !important;
  //   margin: 0 .1rem !important;

  //   .build-page-content-mobile-content-body-selector {
  //     &.left {
  //       margin-right: -1rem;
  //     }
  //     &.right {
  //       margin-left: -1rem;
  //     }
  //   }
  // }
  
}