.build {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.build .build-page-content-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem 0;
}

.build .build-page-content-1 .build-page-content-1-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(0, 0, 0, 0.171);
  width: 20rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding: 0.3rem;
  margin: 2rem 0;
  border-radius: 0.5rem;
}

.build .build-page-content-1 .build-page-content-1-div img:hover {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.build .build-page-content-1 .build-page-content-1-div .build-page-content-1-text {
  font-size: 2rem;
  padding: 0;
  margin: 0;
}

.build .build-page-content-1 .build-page-content-1-div .build-page-content-1-gender {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2rem;
  cursor: pointer;
  margin: 0 2rem;
  font-weight: 500;
}

.build .build-page-content-1 .build-page-content-1-div .build-page-content-1-length-slidecontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0 2rem;
}

.build .build-page-content-1 .build-page-content-1-div .build-page-content-1-length-slidecontainer .slider {
  -webkit-appearance: none;
  width: 100%;
  height: 1rem;
  border-radius: 1rem;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.build .build-page-content-1 .build-page-content-1-div .build-page-content-1-length-slidecontainer .slider.slider:hover {
  opacity: 1;
}

.build .build-page-content-1 .build-page-content-1-div .build-page-content-1-length-slidecontainer .slider.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: #00aeed;
  cursor: pointer;
}

.build .build-page-content-1 .build-page-content-1-div .build-page-content-1-length-slidecontainer .slider.slider::-moz-range-thumb {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: #00aeed;
  cursor: pointer;
}

.build .build-page-content-1 .build-page-content-1-div .build-page-content-1-length-slidecontainer p {
  margin: 0;
}

.build .build-page-content-1 .build-page-content-1-div .build-page-content-1-body {
  width: 3rem;
  height: 100%;
  cursor: pointer;
  padding: 0.1rem;
}

.build .build-page-content-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.build .build-page-content-2 .build-page-content-2-img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 0rem;
}

.build .build-page-content-2 .build-page-content-2-img-container .build-page-content-2-img-body-seperator {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.build .build-page-content-2 .build-page-content-2-img-container .build-page-content-2-img-body-seperator .build-page-content-2-img-selector {
  font-size: 3rem;
  font-weight: 900;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.build .build-page-content-2 .build-page-content-2-img-container .build-page-content-2-img-body-seperator .build-page-content-2-img {
  width: 20rem;
}

.build .build-page-content-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.build .build-page-content-mobile .build-page-content-mobile-gender {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 18rem;
  margin: 1rem 0 2rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.build .build-page-content-mobile .build-page-content-mobile-gender .build-page-content-mobile-text {
  font-weight: 700;
  font-size: 1.3rem;
  padding: 0;
  margin: 0.4rem 0 0;
}

.build .build-page-content-mobile .build-page-content-mobile-gender .build-page-content-mobile-symbol {
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
}

.build .build-page-content-mobile .build-page-content-mobile-content {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.build .build-page-content-mobile .build-page-content-mobile-content .build-page-content-mobile-content-size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0 .2rem 0 0;
}

.build .build-page-content-mobile .build-page-content-mobile-content .build-page-content-mobile-content-size .build-page-content-mobile-content-size-text {
  font-weight: 1.3rem;
  font-weight: 700;
  margin: 1rem 0 0.5rem;
}

.build .build-page-content-mobile .build-page-content-mobile-content .build-page-content-mobile-content-size .build-page-content-mobile-content-size-body {
  width: 3rem;
  height: auto;
  cursor: pointer;
}

.build .build-page-content-mobile .build-page-content-mobile-content .build-page-content-mobile-content-body {
  width: 15rem;
  padding: 0;
}

.build .build-page-content-mobile .build-page-content-mobile-content .build-page-content-mobile-content-body .build-page-content-mobile-content-body-img-seperator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.build .build-page-content-mobile .build-page-content-mobile-content .build-page-content-mobile-content-body .build-page-content-mobile-content-body-img-seperator .build-page-content-mobile-content-body-selector {
  font-size: 2rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.build .build-page-content-mobile .build-page-content-mobile-content .build-page-content-mobile-content-body .build-page-content-mobile-content-body-img-seperator .build-page-content-mobile-content-body-img {
  width: 13rem;
  margin: 0 -2rem;
}

.build .build-page-content-mobile .build-page-content-mobile-content .build-page-content-mobile-content-length {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.build .build-page-content-mobile .build-page-content-mobile-content .build-page-content-mobile-content-length .content-length-text {
  font-weight: 700;
  padding-right: 0;
}

.build .build-page-content-mobile .build-page-content-mobile-content .build-page-content-mobile-content-length .build-page-content-mobile-content-length-slidecontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 5rem -4rem 0 -6rem;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.build .build-page-content-mobile .build-page-content-mobile-content .build-page-content-mobile-content-length .build-page-content-mobile-content-length-slidecontainer .slider {
  -webkit-appearance: none;
  width: 100%;
  height: 1rem;
  border-radius: 1rem;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  -webkit-transform-origin: 75px 75px;
          transform-origin: 75px 75px;
}

.build .build-page-content-mobile .build-page-content-mobile-content .build-page-content-mobile-content-length .build-page-content-mobile-content-length-slidecontainer .slider.slider:hover {
  opacity: 1;
}

.build .build-page-content-mobile .build-page-content-mobile-content .build-page-content-mobile-content-length .build-page-content-mobile-content-length-slidecontainer .slider.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: #00aeed;
  cursor: pointer;
}

.build .build-page-content-mobile .build-page-content-mobile-content .build-page-content-mobile-content-length .build-page-content-mobile-content-length-slidecontainer .slider.slider::-moz-range-thumb {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: #00aeed;
  cursor: pointer;
}

.build .build-page-content-mobile .build-page-content-mobile-content .build-page-content-mobile-content-length .build-page-content-mobile-content-length-slidecontainer p {
  margin: 0;
  padding: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
/*# sourceMappingURL=builder.css.map */