@import "typography";
@import "variables";
@import "components";
@import "burger";

// Undersidor
@import "about";
@import "profile";
@import 'responsiveProfile';
@import "power";
@import "builder";

:root {
  background: $blue;
}

body {
  margin: 0;

  #app {
    height: 100vh;
    background: $blue;

    #nav {
      background: rgba(83, 150, 196, 0.295);
      height: 6rem;
      display: flex;
      justify-content: space-between;

      #slide {
        display: flex;
        padding: 2.35rem;

        .heroProfile {
          color: rgba(255, 255, 255, 0.54);
        }


        .my-superheroes {
          display: flex;
          flex-direction: row;
          
          span {
            margin: 0;
          }

          img {
            width: 31px;
            height: 26px;
            margin: -.5rem .25rem 0 .25rem;
          }

        }

      }
    
      .red-bar {
        @extend %center;
        padding: .5rem;
        margin: 0;
        height: 5rem;
        background: $orange;
        border-radius: 0 0 35px 35px;
      }

      #login {
        @extend %center;
        background: $orange;
        color: white;
        font-family: 'Roboto', Arial, sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        padding: 0 3rem;
        margin-top: 2rem;
        height: 2.2rem;
        border-radius: 15px 0 0 15px;
        cursor: pointer;
      }

      #login-mobile {
        display: none;
      }

    }

    .home {
      display: flex;
      flex-direction: row;
      padding: 1rem;

      .home-page-content-1 {
        display: flex;
        flex-direction: column;
        padding: 2rem;
        flex: 1;
        text-align: center;

        h1 {
          font-size: 2.1rem;
          margin-bottom: 1rem;
        }

        p {
          margin: 0rem 0 3rem 0;
          font-size: 1.5rem;
          padding: 0 5rem;
        }

        .btn {
          background: $orange;
          padding: 1rem 2rem;
          border-radius: 40px;
          text-decoration: none;
          color: black;
        }
      }

      .home-page-content-2 {
        @extend %center;
        margin: 2rem 0 0 3.5rem;

        .a {
        position: relative;
        animation: first 12s infinite;
        animation-delay: -4s;
        animation-timing-function: ease-in-out;
        }
        .a img {
        width: 150px;
        height: 150px;
        }
        .b {
        position: relative;
        animation: secund 12s infinite;
        animation-delay: -8s;
        animation-timing-function: ease-in-out;
        }
        .b img {
        width: 150px;
        height: 150px;
        }
        .c {
        position: relative;
        animation: third 12s infinite;
        animation-delay: -12s;
        animation-timing-function: ease-in-out;
        }
        .c img {
        width: 150px;
        height: 150px;
        }

        @keyframes first {
        0% {left: 0px; opacity: .3; transform: scale(1);}
        33%  {left: 150px; opacity: 1;transform: scale(2);}
        66%  {left: 300px; opacity: .3;transform: scale(1);}
        100%  {left: 0px; opacity: .3;transform: scale(1);}
        }
        @keyframes secund {
        0% {left: -150px; opacity: .3; transform: scale(1);}
        33%  {left: 0px; opacity: 1;transform: scale(2);}
        66%  {left: 150px; opacity: .3;transform: scale(1);}
        100%  {left: -150px; opacity: .3;transform: scale(1);}
        }
        @keyframes third {
        0% {left: -300px; opacity: .3; transform: scale(1);}
        33%  {left: -150px; opacity: 1;transform: scale(2);}
        66%  {left: 0px; opacity: .3;transform: scale(1);}
        100%  {left: -300px; opacity: .3;transform: scale(1);}
        }
      }
    }

  }

  // Tablet
  @media only screen and (min-width: 500px) and (max-width: 768px) {
    #app {

      .home {
        flex-direction: column;
        
        .home-page-content-1 {
          padding: 0;
          .btn {
            display: block;
            margin-bottom: 12rem;
            margin-top: 4rem;
          }
          h1 {
            margin: 3rem 0 0 0;
            font-size: 2.5em;
            margin-bottom: 1rem;
          }
          p {
            width: 75%;
            font-size: 2em;
            justify-content: center;
            margin: 0;
          }
        }
      }
    } 
  }

    // Mobile
    @media only screen and (max-width: 499px) {
      #app {
        overflow-x: hidden;


      .home {
        flex-direction: column;
        margin: 0;
        
        h1 {
          margin-top: .8rem;
        }

        .home-page-content-1 {
          .btn {
            background: $orange;
            text-decoration: none;
            width: 100%;
            color: black;
            position: absolute;
            bottom: 0px;
            left: 0;
            border-radius: 0;
            margin: 0;
            padding: 1rem 0;
          }
        }
        .home-page-content-text {

          p {
            margin: 0 auto;
            padding: 0;
            font-size: 1.3em;
          }

          h1 {
            font-size: 1.5em;
            padding: .5rem;
          }
        }
        .home-page-content-2 {
          .a img {
            width: 75px;
            height: 75px;
          }
          .b img {
            width: 75px;
            height: 75px;
          }
          .c img {
          width: 75px;
          height: 75px;
          }
          @keyframes first {
            0% {left: -20px; opacity: .3; transform: scale(1);}
            33%  {left: 55px; opacity: 1;transform: scale(2);}
            66%  {left: 130px; opacity: .3;transform: scale(1);}
            100%  {left: -20px; opacity: .3;transform: scale(1);}
            }
            @keyframes secund {
            0% {left: -95px; opacity: .3; transform: scale(1);}
            33%  {left: -20px; opacity: 1;transform: scale(2);}
            66%  {left: 55px; opacity: .3;transform: scale(1);}
            100%  {left: -95px; opacity: .3;transform: scale(1);}
            }
            @keyframes third {
            0% {left: -170px; opacity: .3; transform: scale(1);}
            33%  {left: -95px; opacity: 1;transform: scale(2);}
            66%  {left: -20px; opacity: .3;transform: scale(1);}
            100%  {left: -170px; opacity: .3;transform: scale(1);}
            }
        }
      }

        #nav {
          background: $orange;
          height: 7rem;
          flex-direction: column;

          width: 100%;

          .red-bar {
            padding: .5rem;
            height: 3rem;
            background: $orange;
            border-radius: 0px;
            align-items: flex-start;
            justify-content: center;
          }

          #login {
            display: none;
          }
  
          #login-mobile {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            background: $orange;
            color: white;
            font-family: 'Roboto', Arial, sans-serif;
            font-weight: 700;
            text-transform: uppercase;
            font-size: 1.2em;
            margin: 0 .5rem;
          }
          

          #slide {
            background: $orange;
            padding: 0;
          }

        }
      }
    }
    @media only screen and (max-width: 321px) {
      #app {
        .home{
          padding: 0;
          .home-page-content-1{
              padding: .5rem;
            .home-page-content-text {
              p {
                margin: 0 1.2rem;
                width: 90%;
              }
            }
            
          }
        }
      }
    }
}