@import "typography";
@import "variables";
@import "components";
@import "burger";

// Undersidor
@import "about";
@import "profile";
@import "power";
@import "builder";

:root {
  background: $blue;
}

body {
  margin: 0;

  #app {
    height: 100vh;
    background: $blue;

    #nav {
      background: rgba(83, 150, 196, 0.295);
      height: 6rem;
      display: flex;
      justify-content: space-between;

      #slide {
        display: flex;
        padding: 2.35rem;
      }
    
      .red-bar {
        @extend %center;
        padding: .5rem;
        margin: 0;
        height: 5rem;
        background: $orange;
        border-radius: 0 0 35px 35px;
      }

      #login {
        @extend %center;
        background: $orange;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        padding: 0 3rem;
        margin-top: 2rem;
        height: 2.2rem;
        border-radius: 15px 0 0 15px;
      }

    }

    .home {
      display: flex;
      padding: 2rem;
      flex-direction: row;

      .home-page-content-1 {
        display: flex;
        flex-direction: column;
        flex: 1;
        text-align: center;

        h1 {
          font-size: 2.1rem;
          margin-bottom: 1rem;
        }

        p {
          margin: 0rem 0 3rem 0;
          font-size: 1.2rem;
        }

        .btn {
          background: $orange;
          padding: 1rem 2rem;
          border-radius: 40px;
          text-decoration: none;
          color: black;
        }
      }

      .home-page-content-2 {
        @extend %center;
        margin: 2rem 0 0 3.5rem;

        .home-page-content-img {
          position: relative;
          width: 10rem;
          height: 14rem;
          opacity: 0.2;
          left: 40px;

          &:nth-child(2) {
            left: 0px;
            position: relative;
            opacity: 1;
            width: 12rem;
            height: 18rem;
          }

          &:nth-last-child(1) {
            position: relative;
            width: 10rem;
            height: 14rem;
            opacity: 0.2;
            left: -40px;
          }
        }
      }
    }

  }

  // Tablet
  @media only screen and (min-width: 500px) and (max-width: 768px) {
    #app {

      .home {
        flex-direction: column;

      }
    } 
  }

    // Mobile
    @media only screen and (max-width: 499px) {
      #app {
        overflow-x: hidden;

      .home {
        flex-direction: column;

        .home-page-content-2 {
          margin: 2rem 0 0 0;
          
          .home-page-content-img {
            width: 7rem;
            height: 10rem;
            left: 25px;
  
            &:nth-child(2) {
              width: 10rem;
              height: 15rem;
            }
  
            &:nth-last-child(1) {
              left: -25px;
              width: 7rem;
              height: 10rem;
            }
          }

        }
      }

        #nav {
          background: $orange;
          height: 8rem;
          flex-direction: column;
          position: sticky;
          width: 100%;

          .red-bar {
            padding: .5rem;
            height: 3rem;
            background: $orange;
            border-radius: 0px;
            align-items: flex-start;
            justify-content: center;
          }

          #login {
            border-radius: 0px;
            position: absolute;
            right: 0px;
            padding: .5rem 1rem 0 0;
            font-size: 1.4em;
            top: 0px;
            margin: 0;
          }

          #slide {
            background: $orange;
            padding: 0;

    
          }

        }
      }
    }

}