@import "typography";
@import "variables";
@import "components";

// Undersidor
@import "about";
@import "profile";
@import "power";
@import "builder";

body {
  margin: 0;

  #app {
    height: 100vh;
    margin: 0 auto;
    background: $blue;

    #nav {
      background: rgba(83, 150, 196, 0.295);
      top: 0;
      height: 5rem;
      display: flex;
      align-items: center;
      justify-content: center;

      #login {
        text-align: right;
        background: $orange;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        padding: 0.4rem 1.1rem;
        border-radius: 15px 0 0 15px;
      }

      .red-bar {
        padding: .5rem;
        height: 5rem;
        background: $orange;
        border-radius: 0 0 35px 35px;
        text-align: center;
      }
    }

    .home {
      display: flex;
      padding: 2rem;

      .home-page-content-1 {
        display: flex;
        flex-direction: column;
        flex: 1;
        text-align: center;

        h1 {
          font-size: 2.1rem;
          margin-bottom: 1rem;
        }

        p {
          margin: 0rem 0 3rem 0;
          font-size: 1.2rem;
        }

        .btn {
          background: $orange;
          padding: 1rem 2rem;
          border-radius: 40px;
          text-decoration: none;
          color: black;
        }
      }

      .home-page-content-2 {
        @extend%center;

        .home-page-content-img {
          position: relative;
          width: 10rem;
          height: 14rem;
          opacity: 0.2;
          left: 40px;
          &:nth-child(2) {
            left: 0px;
            position: relative;
            opacity: 1;
            width: 12rem;
            height: 18rem;
          }
          &:nth-last-child(1) {
            position: relative;
            width: 10rem;
            height: 14rem;
            opacity: 0.2;
            left: -40px;
          }
        }
      }
    }
  }
}
