main {
    @extend %center;
    margin: .5rem 1rem;
    padding: 0;
    
    .home-page-content-1 {
        flex: 1;
        @extend %center;
        flex-direction: column;

        & :nth-child(2) {
            margin-top: 1.25rem;
        }

        .content-header {
            text-align: left;

            h2 {
                margin: 0 0 0 .25rem;
                font-size: 1.1rem;
                font-weight: normal;
                display: flex;
            }

            input {
                display: block;
                padding: .3rem;
                margin: 0;
                font-size: 1.5rem;
                border-radius: 10px;
            }

        }


        img {
            width: 250px;
        }
    }

    .selector {
        font-size: 3rem;
        font-weight: 900;
        padding: 0 1rem;
        cursor: pointer;
    }
    .content-1 {
        flex: 1;
        @extend %center;
        flex-direction: column;

        h1 {
            margin: 0;
            font-weight: normal;
        }

        h2 {
            margin: 0;
            font-size: 1.75rem;
            font-weight: normal;
        }

        .pros {
            max-width: 450px;
            width: 50vw;
            border-radius: 25px;
            background: rgba(5, 166, 2, 0.185);
            margin: 0 .5rem .5rem .5rem;
            padding: 1rem 1.5rem;
            
            h2 {
                margin: .3rem 0;
            }
            p {
                margin: 0;
            }
            hr {
                opacity: .5;
                max-width: 75%;
                height: 1px;
                color: black;
                background-color: black;
                border: none;
            }
        }
        .cons {
            max-width: 450px;
            border-radius: 25px;
            background: rgba(255, 82, 82, 0.185);
            padding: 1rem 1.5rem;
            margin-bottom: 1.5rem;
                        
            p {
                margin: 0;
            }
        }
    }
}

    // Tablet
    @media only screen and (min-width: 500px) and (max-width: 768px) {
        main {

        .content-header, input {
            margin-left: 1rem;
        }
            

        .content-1 {
            margin-top: 5rem;


            .pros, .cons {
                max-width: 320px;
                position: relative;
            }

            .btn {
                text-align: center;
                position: absolute;
                bottom: 20px;
                padding: 1.5rem;
                width: 13rem;
                right: 0;
                left: 0;
            }

        }

        .msg {
          width: 400px;
        }
      }
    }

    @media only screen and (max-width: 499px) {

        main {
            flex-direction: column;
            margin: 0;

            .home-page-content-1 {
                flex-direction: row;

                .content-header {
                    display: flex;
                    flex-direction: row;
                    margin: 0;

                    h2 {
                        display: flex;
                        align-items: center;
                        margin: 0 .5rem;
                    }

                    input {
                        width: 70%;
                        max-width: 185px;
                        margin: .5rem 0;
                    }
                }

            }

            img, .selector {
                display: none;
            }
                
    
            .content-1 {
                padding: 0;
            
                .pros, .cons {
                    width: 80vw;
                    max-width: 300px;
                    position: relative;
                }
    
                .btn {
                    background: $orange;
                    text-decoration: none;
                    display: flex;
                    justify-content: center;
                    width: 100vw;
                    color: black;
                    border-radius: 0;
                    margin: 0;
                }
    
            }
    
            .msg {
              width: 400px;
            }
          }
    }