main {
    @extend %center;
    margin: .5rem 1rem;
    padding: 0;
    
    .home-page-content-1 {
        flex: 1;
        @extend %center;
        margin-top: -10rem;
        flex-direction: column;

        div {

            h2 {
                margin: 0;
                font-size: 1.1rem;
                left: -40px;
                position: relative;
            }

        }

        input {
            display: block;
            margin: .5rem;
            padding: .3rem;
            font-size: 1.5rem;
            border-radius: 10px;
        }

        img {
            margin: 1rem;
            width: 150px;
            display: block;
        }
    }

    .selector {
        font-size: 3rem;
        font-weight: 900;
        padding: 0 1rem;
        cursor: pointer;
    }
    .content-1 {
        flex: 1;
        @extend %center;
        flex-direction: column;

        h2 {
            margin: 0;
            font-size: 1.75rem;
        }
        .pros {
            max-width: 450px;
            width: 50vw;
            border-radius: 25px;
            background: rgba(5, 166, 2, 0.185);
            margin: 0 1rem;
            padding: 2rem;
            
            h2 {
                margin: .3rem 0;
            }
            p {
                margin: 0;
            }
            hr {
                opacity: .5;
                max-width: 75%;
                height: 1px;
                color: black;
                background-color: black;
                border: none;
                background: -webkit-gradient(radial, 50% 0%, 0, 50% 0%, 350, from(rgba(0, 0, 0, 0.932)), to(rgba(0, 0, 0, 0)));
            }
        }
        .cons {
            max-width: 450px;
            border-radius: 25px;
            background: rgba(255, 82, 82, 0.185);
            margin: 1rem;
            padding: 2rem;
                        
            p {
                margin: 0;
            }
        }
    }
}

 // Tablet
    @media only screen and (min-width: 500px) and (max-width: 768px) {
      .about {

        h1 {
          margin-top: 3rem;
        }

        .msg {
          width: 400px;
        }
      }
    }

    @media only screen and (max-width: 499px) {
      .about {

        .msg {
          max-width: 85vw;
        }

        form {
          width: 100%;

          .contact {
            width: 80vw;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
          }
          
          .btn {
            width: 100%;
            border-radius: 0;
          }
          
        }

      }
    }