@import 'responsiveProfile';
.content {
    display: flex;
    justify-content: center;
    flex-direction: column;

    /* Titel texten */
    .headline {
        display: flex;
        justify-content: center;
        font-size: 1.75rem;
        text-transform: uppercase;
    }

    /* Center Bilderna */
    .home-page-content-2 {
        @extend %center;
        margin: 2rem 0 0 3.5rem;

        .a {
        position: relative;
        animation: first 12s infinite;
        animation-delay: -4s;
        animation-timing-function: ease-in-out;
        }
        .a img {
        width: 150px;
        height: 150px;
        }
        .b {
        position: relative;
        animation: secund 12s infinite;
        animation-delay: -8s;
        animation-timing-function: ease-in-out;
        }
        .b img {
        width: 150px;
        height: 150px;
        }
        .c {
        position: relative;
        animation: third 12s infinite;
        animation-delay: -12s;
        animation-timing-function: ease-in-out;
        }
        .c img {
        width: 150px;
        height: 150px;
        }

        @keyframes first {
        0% {left: 0px; opacity: .3; transform: scale(1);}
        33%  {left: 150px; opacity: 1;transform: scale(2);}
        66%  {left: 300px; opacity: .3;transform: scale(1);}
        100%  {left: 0px; opacity: .3;transform: scale(1);}
        }
        @keyframes secund {
        0% {left: -150px; opacity: .3; transform: scale(1);}
        33%  {left: 0px; opacity: 1;transform: scale(2);}
        66%  {left: 150px; opacity: .3;transform: scale(1);}
        100%  {left: -150px; opacity: .3;transform: scale(1);}
        }
        @keyframes third {
        0% {left: -300px; opacity: .3; transform: scale(1);}
        33%  {left: -150px; opacity: 1;transform: scale(2);}
        66%  {left: 0px; opacity: .3;transform: scale(1);}
        100%  {left: -300px; opacity: .3;transform: scale(1);}
        }
      }

    /* Namn och prickar */
    .middle-content {
        display: grid;
        justify-content: space-evenly;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-template-areas: 
        '. showcast .'
        '. circle .';
        
        .showcast {
            display: grid;
            grid-area: showcast;
            justify-content: center;
            background: $orange;
            padding: .5rem;
            border-radius: 5px;
            text-transform: uppercase;
            
        }
        .circle {
            display: flex;
            grid-area: circle;    
            li {           
                font-size: 4rem;
                margin: 0 2rem;
                &.active {
                    color: white;
                }
            }
            
        }
    }

    /* Footer/Underknappar */
    .profile-btns {
        display: grid;
        justify-content: space-evenly;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-template-areas: 
        'downloadbtn editbtn deletebtn';

        font-family: 'Skranji', cursive;
        font-size: 1.3rem;
        font-weight: 700;
        text-transform: uppercase;
        
        .download-btn {
            grid-area: downloadbtn;
            background: $orange;
            color: black;
            text-decoration: none;
            padding: 2rem;
            border-radius: 5px;   
        }    
        .edit-btn {
            grid-area: editbtn; 
            background: yellow;
            color: black;
            text-decoration: none;
            padding: 2rem 4rem;
            border-radius: 5px;   
        }    
        .delete-btn {
            grid-area: deletebtn;
            background: red;
            color: black;
            text-decoration: none;
            padding: 2rem 3rem;
            border-radius: 5px;   
        }    
    }
}