@import 'responsiveProfile';
.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 1rem 0 0 0;

    /* Titel texten */
    .headline {
        display: flex;
        justify-content: center;
        font-size: 1.75rem;
        text-transform: uppercase;
    }

    /* Center Bilderna */
    .home-page-content-2 {
        @extend %center;
        margin: 4rem 0 0 0;

        .a img {
        width: 10rem;
        height: 10rem;
        opacity: .5;
        transition: all .3s ease-in-out;
        
        &:hover{
            transform: scale(1.3);
            opacity: 1;
        }
    }
    
    .b  {
        opacity: .5;
        width: 10rem;
        display: flex;
        flex-direction: column;
        transition: all .3s ease-in-out;
        img {
            height: 3rem;
                &:nth-child(2){
                    height: 4rem;
                }
                &:nth-child(3){
                    height: 6rem;
                }
        }

        &:hover {
            transform: scale(1.2);
            opacity: 1;
        }
    }
    
    .c img {
        opacity: .5;
        width: 10rem;
        height: 10rem;
        transition: all .3s ease-in-out;

        &:hover{
            transform: scale(1.3);
            opacity: 1;
        }
        }
      }

    /* Namn och prickar */
    .middle-content {
        display: grid;
        margin-top: 1.5rem;
        justify-content: space-evenly;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-template-areas: 
        '. showcast .';
        
        .showcast {
            display: grid;
            grid-area: showcast;
            justify-content: center;
            background: $orange;
            padding: .5rem;
            border-radius: 5px;
            text-transform: uppercase;
            
        }

    }

    /* Footer/Underknappar */
    .profile-btns {
        display: grid;
        margin-top: 5rem;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-template-areas: 
        'downloadbtn editbtn deletebtn';

        font-family: 'Skranji', cursive;
        font-size: 1.3rem;
        text-transform: uppercase;
        
        .download-btn {
            grid-area: downloadbtn;
            background: $orange;
            color: black;
            text-decoration: none;
            padding: 2rem;
            border-radius: 5px; 
            text-align: center;  
            margin-right: 3rem;
        }    
        .edit-btn {
            grid-area: editbtn;
            background: yellow;
            color: black;
            text-decoration: none;
            padding: 2rem 4rem;
            border-radius: 5px;   
            text-align: center;
            margin: 0 3rem; 
        }    
        .delete-btn {
            grid-area: deletebtn;
            background: red;
            color: black;
            text-decoration: none;
            padding: 2rem 3rem;
            border-radius: 5px;   
            text-align: center;
            margin-left: 3rem;
        }    
    }
}